*{
    margin: 0;
    padding: 0;
}
.h1{ 
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#destacado2{
    background-color: rgb(21, 186, 252);
}
#destacado3{
    background-color: rgb(21, 186, 252);
}

/*Estilo de pagina de horarios.html*/

tr{
    background-color: aquamarine;
}
.Martes, .Miercoles, .Jueves{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.Martes{
    
 background-color: blueviolet;
    
}

.Miercoles{
    background-color: rgb(173, 117, 226);
}

.Jueves{
    background-color: rgb(109, 9, 202);
}
.ho1{
    font-style: italic;
}

.Dias, .Martes, .Miercoles, .Jueves{
    text-align: center;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: italic;
    background-color: aquamarine;
}
header{
    background-color: crimson;
    height: 100%;
    max-height: fit-content;
}
.li{
    color: beige;
    list-style: none;
}
footer{
    background-color: rgb(21, 186, 252);
    height: 100%;
    max-height: max-content;
    text-align: center;
}
div{
   border-bottom: 1px;
   border-style:dashed ;
   border-color: rgb(10, 179, 122);
  text-align: center;
}


