*{
    margin: 0;
    padding: 0;
}
.h1{ 
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#destacado2{
    background-color: rgb(21, 186, 252);
}
#destacado3{
    background-color: rgb(21, 186, 252);
}

/*Estilo de pagina de horarios.html*/

tr{
    background-color: aquamarine;
}
.Martes, .Miercoles, .Jueves{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.Martes{
    
 background-color: blueviolet;
    
}

.Miercoles{
    background-color: rgb(173, 117, 226);
}

.Jueves{
    background-color: rgb(109, 9, 202);
}

.ho1{
    font-style: italic;
}

.Dias, .Martes, .Miercoles, .Jueves{
    text-align: center;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: italic;
    background-color: aquamarine;
}

/* Estilo de la pagina contactos.html */
footer{
    background-color: rgb(21, 186, 252);
    height: 100%;
    max-height: max-content;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 2.5rem;
}

div{
   border-bottom: 0px;
   border-style:dashed ;
   border-color: rgb(10, 179, 122);
   text-align: center;
} 

/* Encabezado */
header{
    background-color: crimson;
    height: 100%;
    max-height: fit-content;
}

.li{
    color: beige;
    
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Contenedor{
    display: grid;
    grid-template-columns: 300px 1fr 300px;
} 

/* Estilos de media queris*/

.contenedor1 {
    display: flex;
    background-color: aquamarine;
    flex-wrap: wrap;
    width: 980px;
    margin: 0 auto;
    margin-top: 40px;
}

@media only screen and (min-width: 320px) and (max-width: 576px)  {
    .contenedor1{
        width: 100px;
        padding-left: 23px;
        flex-direction: column-reverse;
        background-color: blueviolet;
    }

    .cajas{
        width: 100%;
       
    }
    
}