*{
    margin: 0;
    padding: 0;
}
.h1{ 
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#destacado{
    background-color: cadetblue;
}
div{
    width: 400px;
    height: 150px;
    background-color: aquamarine;
    border: 4px dotted;
    padding: 48px;
    margin: 50px;
    display: inline-table;
    text-align: center;
    border-color: blue;

}
div p{
    display: table-cell;
    vertical-align: middle;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: blueviolet;
    
}

.azul{
    background-color: blue;
}

.rojo{
    background-color: red;
}

.verde{
    background-color: green;
}

.gris{
    background-color: gray;
}

.gris, .rojo, .verde{
position: absolute;
}

.gris{
    z-index: 2;
}

.verde{
    z-index: 3;
}

.azul{
    z-index: 100;
}


/*Estilo de pagina de horarios.html*/